.parallax-window {
    min-height: 400px;
    background: transparent;
    z-index: 100;
}

.container {
    max-width: 900px;
    margin: -100px auto 50px;
    background-color: white;
    padding: 50px 100px ;
}


.blog-navigator {
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    background-color: white;
    padding: 10px;
}

.btn-prev {
    color: #63666A;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-next {
    color: #63666A;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-prev::after, .btn-next::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #63666A;
    display: block;
    transition: 0.3s ease-in-out;
}

.btn-prev:hover::after, .btn-next:hover::after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: #63666A;
    display: block;
}

.date {
    color: #63666A;
    margin: 30px 0px 30px 0px;
}

.headline {
    font-size: 2em;
    color: #006600;
    margin: 30px 0px 30px 0px;
}

.blog-paragraph p {
    margin: 30px 0px 30px 0px;
    font-size: 0.9em;
    line-height: 2em;
}

.blog-paragraph div {
    display: flex;
    flex-direction: row;
}

.blog-paragraph div p {
    margin: 0px 30px 0px 0px;
}

.sticky {
    position: fixed;
    top: 40px;
    width: 900px;
}

.sticky + .blog-content {
    padding-top: 70px;
}