.container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1000px){
    .container {
        flex-direction: column;
    }

    .info {
        text-align: center;
    }
}

.page-title {
    font-size: 2em;
    max-width: 1200px;
    margin: 71px auto 10px;
    padding: 40px;
    text-align: center;
    
}

.page-title p {
    color: #006600;
}

.contact-form {
    height: 70vh;
    background: white;
    flex-basis: 60%;
    margin: auto;
}

.contact-form form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 80%;
}

.contact-form form h3 {
    font-weight: 800;
    margin-bottom: 20px;
}

.contact-form form input, .contact-form form textarea {
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}

.contact-form form button {
    padding: 15px;
    background: #063970;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    margin: 0px auto;
}

.info section {
    font-size: 1.5em;
    line-height: 2;
    color: #006600;
}

.info ul li {
    font-size: 1.2em;
    line-height: 2;
}

.info ul li img {
    vertical-align: middle;
    margin-right: 10px;
}
