@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

* { 
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
  }
  

/*Header*/
.header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    margin: auto;
    background-color: white;
     
}

.banner {
    margin: auto auto auto 20px;
}

.socials {
    margin-inline: 20px;
}

/*Navigation Bar*/
.navigation-bar {
    text-align: right;
    background-color: #38761d;
}

.navigation-bar ul li {
    display: inline-block;
    font-size: 21px;
    list-style-type: none;
    padding-inline: 40px;
    padding-block: 20px;
    transition: 0.3s;
}

@media(max-width: 1300px){
    .navigation-bar ul li{
        padding-inline: 20px;
        font-size: 18px;

    }
}

.navigation-bar ul li a {
    color: white;
}

.navigation-bar ul li:hover {
    background-color: white;
    display: inline-block;
    list-style-type: none;
}

.navigation-bar ul li:hover a {
    color: #38761d;
}

.navigation-bar ul li ul {
    display: none;
}

.navigation-bar ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    margin-top: 20px;
    margin-left: -20px;
    border: 1px solid #38761d;
}

.navigation-bar ul li:hover ul li {
    display: block;
    line-height: 90%;
}

.navigation-bar ul li:hover ul li a {
    color: #38761d;
    font-size: 17px;

}

.navigation-bar ul li ul li:hover a {
    color: white;
}

.navigation-bar ul li ul li:hover {
    background-color: #38761d;
}

.navigation-bar ul li ul li ul {
    margin-top: 20px;
}

.dropdown-menu-2 {
    display: none;
}

.hover-me:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    margin-left: 153.328px;
    margin-top: -106px;
}

.hover-me:hover .dropdown-menu-2 ul li {
    padding-inline: 20px;
    padding-block: 10px;
}

.hover-me:hover .dropdown-menu-2 ul li a {
    color: #38761d;
    border-bottom: 1px solid #38761d;
}

.hover-me .dropdown-menu-2 ul li:hover a {
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-top: 18px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #38761d;
}

@media(max-width:768px){

    .navigation-bar {
        background-color: white;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .bar{
        opacity: 0.3;
    }

    .nav-menu {
        display: none;
        position: fixed;
        left: 100%;
        top: 54px;
        background-color: #38761d;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu li {
        margin: 16px 0px;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0%;
        top: 54px;
        background-color: #38761d;
        width: 100%;
        text-align: center;
    }
}

/*Footer*/
footer {
    background-color: #38761d;
}

.foot {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 100%;
    position: relative;
    align-items: flex-end;
}

.footer-1 {
    height: 100%;
    margin: 40px;
}

.footer-2 {
    margin: 40px 20px 40px auto;
    text-align: right;
}

.footer-3 {
    margin: 40px 20px 20px 60px;
}

.footer-3 p {
    margin-left: 10px;
}
form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

form input {
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}

form button {
    background: #063970;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.creater-name {
    font-style: italic;
    font-weight: 600;
    padding: 20px 0px 20px;
}

/*Link styling*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*class for white font color*/
.white {
    color: white;
}

/*buttons*/
form button {
    border-width: 1px;
    border-color: #063970;
    background-color: #063970;
    font-weight: 800;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    transition: 0.1s;
    color: white;
}

form button a {
    color: white;
}

form button:hover {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #063970;
    color: #063970;
}



  