@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* { 
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Header*/
.header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    margin: auto;
    background-color: white;
     
}

.banner {
    margin: auto auto auto 20px;
}

.socials {
    margin-inline: 10px;
}

.socials ul li {
    margin: 10px;
    float: right;
}

.socials ul li img {
    vertical-align: middle;
}

/*Navigation Bar*/
.navigation-bar {
    text-align: right;
    background-color: #38761d;
}

/*Nav bar first menu*/
.navigation-bar ul li {
    display: inline-block;
    font-size: 21px;
    list-style-type: none;
    padding-inline: 40px;
    padding-block: 20px;
    transition: 0.3s;
}

@media(max-width: 1200px){
    .navigation-bar ul li{
        padding-inline: 20px;
        font-size: 18px;

    }
}

.navigation-bar ul li a {
    color: white;
}

.navigation-bar ul li:hover {
    background-color: white;
    display: inline-block;
    list-style-type: none;
}

.navigation-bar ul li:hover a {
    color: #38761d;
}

/*nav bar second menu/dropdown*/
.navigation-bar ul li ul {
    display: none;
}

.navigation-bar ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    margin-top: 20px;
    margin-left: -20px;
    border: 2px solid #38761d;
}

.navigation-bar ul li:hover ul li {
    display: block;
    line-height: 90%;
}

.navigation-bar ul li:hover ul li a {
    color: #38761d;
    font-size: 17px;

}

.navigation-bar ul li ul li:hover a {
    color: white;
}

.navigation-bar ul li ul li:hover {
    background-color: #38761d;
}

.navigation-bar ul li ul li ul {
    margin-top: 20px;
}

.dropdown-menu-2 {
    display: none;
}

.hover-me:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    margin-left: 153.328px;
    margin-top: -106px;
}

.hover-me:hover .dropdown-menu-2 ul li {
    padding-inline: 20px;
    padding-block: 10px;
}

.hover-me:hover .dropdown-menu-2 ul li a {
    color: #38761d;
    border-bottom: 2px solid #38761d;
}

.hover-me .dropdown-menu-2 ul li:hover a {
    color: white;
}

/*Footer*/
footer {
    background-color: #38761d;
}

.foot {
    width: 100%;
    height: 200px;
    margin: auto;
    max-width: 750px;
}

.foot p {
    max-width: 650px;
    float: left;
    color: white;
}

.tico-img {
    float: right;
}

.creater-name {
    font-style: italic;
    font-weight: 600;
    padding: 25px 0px 25px;
}

/*Link styling*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*class for white font color*/
.white {
    color: white;
}


  