
/*slider*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.slick-slider {
    margin-top: 15px;
    z-index: 1;
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
}

.bg {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: 0px 60%;
}

.slide-1 p {
    top: 45%;
    margin-left: 100px;
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 5.0em;
    text-shadow: 1px 2px black;
}

.slide-2 {
    background-color: #d9d9d9;
    width: 100%;
    height: 90vh;
    margin: auto;
}

.slide-2-p1 {
    font-family: 'Cardo', serif;
    font-size: 4.7em;
    position: absolute;
    top: 20%;
    margin-left: 280px;
    color: #69443c;
    text-align: center;
}

.slide-2-p2 {

}

.slide-2-p3 {
    background-color: white;

}

.slide-2 img {
    width: 400px;
    position: absolute;
    top: 10%;
    margin-left: 800px;
}




/*body 2*/

.body-2{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-2-image img {
    width: 700px;
    margin-bottom: -4px;
}

.body-2-paragraph {
    text-align: right;
    margin: 50px;
    font-size: 1.6em;
    line-height: 150%;
}

.body-2-paragraph p {
    margin-bottom: 20px;
    font-size: 2.0em;
}

.body-2-paragraph p b {
    color: #38761d;
}


/*body 3*/
.body-3 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 100px auto;
}

.body-3 h2 {
    margin: auto;
    font-size: 2.0em;
    border-bottom: 2px solid black;
}

.body-3-grid {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

.grid-1, .grid-2, .grid-3  {
    position: relative;
    margin: 10px;
    width: 350px;
    height: 400px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}


.grid-1 p, .grid-2 p, .grid-3 p {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 350px;
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
}

.grid-1 a:hover p, .grid-2 a:hover p, .grid-3 a:hover p {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 10px 50px 10px;
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    width: 350px;
}


/*flights*/
.parallax-window {
    background: transparent;
    z-index: 1;
    margin: 5px;
}

.flights-section{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    text-align: center;
    margin-inline: auto;
    padding: 30px;

}

.flights {
    color: white;
    padding: 20px;
}

/*other bookings section*/
.other-bookings-section {
    max-width: 1200px;
    margin: 5px auto;
    padding: 70px;
    color: black;
}

.other-bookings li p {
    margin: 10px;
}

.cruises {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 250px;
    text-align: center;
    margin: 10px;
}

.car-rentals {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 400px;
    text-align: center;
    margin: 10px;
}

.car-rentals ul li {
    display: inline-block;
}

.tours-and-activities {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 250px;
    text-align: center;
    margin: 10px;
}

/*blog*/

.blog {
    overflow: hidden;
    padding: 100px;
    background-image: linear-gradient(rgba(66, 36, 11, 0.5),rgba(0,0,0,0.5)), url("images/pexels-jaime-reimer-2662116.jpg");
    background-size: cover;
    background-position: center center;
    margin: auto;
    text-align: left;
    height: 200px;
}

.blog p {
    transition: 0.3s ease-in-out;
    font-size: 3.4em;
    font-family: 'Courier New', Courier, monospace;
}

.blog:hover p {
    font-size: 3.5em;
}
