
/*slider*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.slick-slider {
    margin-top: 15px;
    z-index: 1;
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
}

.bg {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: 0px 60%;
}

.slide-1 p {
    top: 45%;
    margin-left: 100px;
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 5.0em;
    text-shadow: 1px 2px black;
}


/*body 2*/
.body-2{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 100px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-2-image img {
    width: 700px;
    margin-bottom: -4px;
}

.body-2-paragraph {
    text-align: right;
    margin: 50px;
    font-size: 1.6em;
    line-height: 150%;
}

.body-2-paragraph p {
    margin-bottom: 20px;
    font-size: 2.0em;
}

.body-2-paragraph p b {
    color: #38761d;
}


/*body 3*/
.body-3 {
    width: 1200px;
    margin: 100px auto;
}

.body-3 h2 {
    margin: auto;
    font-size: 2.0em;
    border-bottom: 2px solid black;
}

.body-3-grid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-1, .grid-2, .grid-3, .grid-4  {
    position: relative;
    margin: 10px auto;
    width: 350px;
    height: 400px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}


.grid-1 p, .grid-2 p, .grid-3 p, .grid-4 p {
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 330px;
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
}

.grid-1 a:hover p, .grid-2 a:hover p, .grid-3 a:hover p, .grid-4 a:hover p {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 10px 50px 10px;
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    width: 330px;
}


/**/
.parallax-window {
    background: transparent;
    z-index: 100;
}

.body-4{
    width: 100%;
    padding: 40px 0px 40px 0px;
    margin-block: 40px;
}

.body-4 h2 {
    font-family: cardo, sans-serif;
    text-align: center;
    font-size: 5.0em;
    margin: 50px;
    color: white;
}

.b4-flex-1 {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}

.b4-flex-1 p {
    margin: auto;
    color: #38761d;
    padding: 20px;
    font-size: 4.0em;
    font-weight: 600;
}

.body-5 {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-5 section{
    padding: 40px;
}

/*body 6*/
.body-6 {
    width: 1200px;
    margin: 40px auto;
}

.body-6 h2 {
    margin: auto;
    font-size: 2.0em;
    border-bottom: 2px solid black;
}

.spotlight-slider {
    height: 600px;
}

.list-item {
    margin: 20px;
    height: 600px;
}

.list-item img {
    height: 400px;
    width: 90%;
    object-fit: contain;
    margin: auto;
}

.list-item p {
    font-weight: 600;
    color: #38761d;
    text-align: center;
    margin: 15px;
}

.list-item section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
}

/*blog*/
.blog {
    overflow: hidden;
    padding: 100px;
    background-image: linear-gradient(rgba(66, 36, 11, 0.5),rgba(0,0,0,0.5)), url("images/pexels-karolina-grabowska-4041393.jpg");
    background-size: cover;
    background-position: center center;
    margin: auto;
    text-align: left;
    height: 200px;
}

.blog p {
    transition: 0.3s ease-in-out;
    font-size: 3.4em;
    font-family: 'Courier New', Courier, monospace;
}

.blog:hover p {
    font-size: 3.5em;
}
