.container {
    padding: 0px;
    max-width: 1280px;
    margin: auto;
}


.page-title {
    margin: 65px 0px 100px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(66, 36, 11, 0.5),rgba(0,0,0,0.5)), url("images/pexels-marc-mueller-380769.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-title p {
    font-size: 5.0em;
    color: white;
    line-height: 500px;

}

.body-1 {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body-1-p p {
    margin: 20px 60px 20px 10px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
}

.body-1 img {
    width: 100%;
    height: auto;
}

.body-2 section {
    font-size: 1.3em;
    color: #006600;
    text-align: center;
}


.body-2 section a {
    color: #7c7c7c;
}

.body-2 section a:hover {
    color: black;
}

.body-2 {
    background-image: linear-gradient(rgba(66, 36, 11, 0.5),rgba(0,0,0,0.5)), url("images/pexels-thiago-japyassu-1563604.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1200px;
    margin: 100px auto 0px;
}

.body-2 p {
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 80px;
}

.body-2 section {
    font-family: 'cardo', sans-serif;
    color: #d2d3d2;
}

.flex-1 {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 100px;
    margin-inline: auto;
}

.flex-1 div {
    width: 30%;
    margin: 2%;
}

.flex-1 section {
    text-align: left;
    padding-top: 50px;
}

.flex-1 img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 100%;
}

.flex-1 p {
    font-size: 1em;
    padding-top: 50px;
    text-align: left;
}

@media (max-width: 1350px) {
    .body-1 {
        flex-direction: column !important;
    }
}