.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.page-title {
    margin: 65px 0px 80px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(66, 36, 11, 0.1),rgba(0,0,0,0.1)), url("images/pexels-badulescu-badulescu-2171077.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-title p {
    font-size: 3.0em;
    color: #38761d;
    line-height: 100px;
}

.text {
    max-width: 1200px;
    margin: auto;
    background-color: whitesmoke;
    padding: 40px;
}

.body-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.products {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 1em;
    margin: auto;
}

@media (max-width: 1300px) {
    .products {
        grid-template-columns: 100%;
    }
}

.body-1 img {
    width: 100%;
    object-fit: contain;
    margin-inline: auto;
}

.products p {
    font-weight: 600;
    color: #38761d;
    text-align: center;
}

.products section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
    padding-inline: 60px;
}

.descr {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    padding: 50px;
}

.application {
    width: 90%;
    background: url(images/pexels-badulescu-badulescu-2171077.jpg);
    background-size: cover;
    background-position: center center;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

.descr section {
    color: #38761d;
    text-align: center;
    font-size: 1.4em;
}

.descr p {
    text-align: justify;
    margin: 40px auto;
}

.text-2 {
    background-color: whitesmoke;
    padding: 40px;
}

@media (max-width: 900px) {
    .body-1 {
        flex-direction: column;
    }
}